.skills {
  height: 80vh;
  background-color: #ffccb3;
}

.skills_container {
  padding: 8% 10% 0;
}

.skills h1 {
  font-size: 3rem;
  text-align: center;
  margin-top: 0;
  color: #554994;
}

.skills_section {
  width: 50%;
  margin: 0 auto;
  display: flex;
}
