.home {
  color: #fff;
}

.title {
  margin: 0 auto;
  text-align: center;
  text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.75);
  padding-top: 15%;
  animation: 1.5s title_fade_in ease-in-out;
}

.title h1 {
  font-size: 6rem;
  line-height: 0;
}

.title h2 {
  padding-top: 1%;
  font-size: 3rem;
  line-height: 0;
}

.background_image img {
  animation: 1.5s image_fade_out ease-in-out;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 75%;
  overflow: hidden;
  filter: blur(3px);
}

@keyframes title_fade_in {
  from {
    transform: translateY(25%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 100;
  }
}

@keyframes image_fade_out {
  from {
    opacity: 1;
    filter: blur(0px);
  }

  to {
    opacity: 0.75;
    filter: blur(3px);
  }
}

@media (max-width: 800px) {
  .title h1 {
    font-size: 3rem;
  }

  .title h2 {
    padding-top: 1%;
    font-size: 1.5rem;
  }

  .title {
    padding-top: 35%;
  }
}
